<!DOCTYPE html>
<html>
  <head>
    <title>Mike's Awesome To Do list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <form action='/' method='post'>
      <input type='text' name='name'>
      <input type='submit' value="Submit Item!">
    </form>
    <ul>
      <% items.forEach(function(item){ %>
      <li><%= item.name %></li>
      <% }) %>
    <ul>
  </body>
</html>
