<!DOCTYPE html>
<html>
  <head>
    <title>New To Do Item</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action='/' method='post'>
      <input type='text' name='name'>
      <input type='submit' value="Submit Item!">
    </form>
  </body>
</html>
